section {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.topdiv {
    text-align: center;
}

    .topdiv p {
        font-weight: bold;
        font-size: large;
    }

.downdiv {
    width: 760px;
    margin: auto;
    margin-bottom: 100px;
    display: flex;
}

article {
    margin: auto;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h1, h2 {
    font-family: 'Faster One', cursive;
}
